.paste-select-box {
  display: inline-block;
}
.paste-select-box .el-dialog__wrapper {
  position: absolute;
  top: 48px;
  right: 0;
  left: 0;
  overflow: visible;
  margin: 0;
}
.paste-select-box .el-form--inline .el-form-item {
  margin-right: 0;
}
.paste-select-box .paste-select-icon {
  position: absolute;
  // width: 35px;
  width: 26px;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  color: #bfcbd9;
  transition: all 0.3s;
  &.paste-select-icon--mini {
    width: 24px;
    font-size: 14px;
  }
}
.paste-select-box .paste-select-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.paste-select-box .paste-select-form {
  display: inline-block;
}
.paste-select-box .paste-select-dialog {
  position: relative;
  width: 100%;
}
.paste-select-dialog .el-form-item {
  margin-bottom: 0;
}
.paste-select-box .el-dialog__header {
  padding: 0;
}
.paste-select-box .el-dialog__body {
  padding: 0;
}
.paste-select-box .el-select__tags {
  position: absolute;
  line-height: normal;
  white-space: normal;
  z-index: 1;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.paste-select-box .el-tag {
  margin: 2px 0 2px 6px;
  .el-icon-close {
    top: -6px;
    // right: 2px;
  }
  &.el-tag--small {
    height: 24px;
    padding: 0 5px;
    line-height: 22px;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    // max-width: 75px;
    display: inline-block;
  }
  &.el-tag--mini {
    height: 20px;
    padding: 0 2px;
    line-height: 19px;
    // .el-select__tags-text {
    //   max-width: 40px;
    // }
    .el-icon-close {
      top: -5px;
      // margin-left: -3px;
      -ms-transform: scale(0.7);
      transform: scale(0.7);
    }
  }
}

.paste-select-box .el-select__tags-text {
  // max-width: 50px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.paste-select-box .el-input--small {
  font-size: 14px;
}
.paste-select-box .el-input--mini,
.paste-select-popover .el-input--mini {
  .el-input__inner {
    padding-right: 24px;
    height: 30px;
  }
  .el-textarea__inner {
    font-size: 12px;
  }
}

.paste-select-box .hidden .el-input__inner {
  color: #fff;
  // font-size: 0;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // overflow: hidden;
}
.paste-select-box .el-input__inner {
  // padding-right: 35px;
  padding-right: 26px;
}
.paste-select-box .el-form-item__label {
  display: none;
}
.paste-select-popover .dialog-footer {
  .el-button {
    min-width: 10px;
  }
}
.paste-select-popover {
  &.el-popover {
    padding: 10px;
  }
}
.paste-select-box-select-select__tags-text-popper-dialog {
  &.el-tooltip__popper {
    max-width: 400px;
    word-break: break-all;
  }
}