.mi-tree-select-popover {
  &.el-popper[x-placement^='bottom'] {
    margin-top: 0;
  }
  &.el-popper[x-placement^='top'] {
    margin-bottom: 0;
  }
  // .i-tree-select-node {
  //   display: inline-block;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   .label {
  //     max-width: 100%;
  //   }
  // }
}
.mi-tree-select__select-popper {
  display: none;
}
.mi-tree-select {
  .mi-tree-select__select {
    .el-tag {
      max-width: 100%;
      padding-right: 30px;
      .el-select__tags-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
  /*   .el-select__tags {
    max-width: 100%;
    .el-tag {
      display: inline-block;
    }
    .el-select__tags-text {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
  }
  .el-input.el-input--suffix {
    cursor: pointer;
    overflow: hidden;
  }
  .el-input.el-input--suffix.rotate .el-input__suffix {
    transform: rotate(180deg);
  } */
  .select-tree {
    max-height: 350px;
    overflow-y: scroll;
  }
  /* 菜单滚动条 */
  .select-tree::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
  }
  .select-tree::-webkit-scrollbar-track,
  .select-tree::-webkit-scrollbar-corner {
    background: #fff;
  }
  .select-tree::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc;
  }
  .select-tree::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px;
  }
}
